# Ignore everything in the root directory
/*

# But do not ignore directories you want to dive into
!/simulation/

# Ignore everything in these directories
/simulation/*

# Specifically do not ignore the paths you care about
!/simulation/src/
!/simulation/run.py
